/*************************
GENERAL
*************************/

body {
	padding: none;
	background: url('img/Leaf.JPG');
}



/************************
HEADING
************************/

header {
	float: none;
	margin: 0 0 30px 0;
	padding: 15px 15px;
	width: 100%;
}

h1 {
	font-family: 'Changa One', sans-serif;
	color: #F5F5DC;
	text-align: center;
	margin: 15px 0;
	font-size: 8em;
	font-weight: normal;
	line-height: 0.8em;
}



/***********************
WATER DIV
***********************/

.water {
	position: relative;
	margin: 0 auto;
	width: 300px;
	height: 250px;
	cursor: pointer;
}
.water div {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px rgba(0,0,0,.3);
	font: bold 3em sans-serif;
	line-height: 350px;
}

.side-a {
	background: url('img/LakeA.JPG');
}
.side-b {
	background: url('img/LakeB.JPG');
}



/***********************
RAINFOREST DIV
***********************/

.rainforest {
	position: relative;
	bottom: 250px;
	right: 85px;
	float: right;
	margin: 0 0;
	width: 300px;
	height: 250px;
	cursor: pointer;
}
.rainforest div {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px rgba(0,0,0,.3);
	font: bold 3em sans-serif;
	line-height: 350px;
}

.side-a2 {
	background: url('img/TreesA.JPG');
}
.side-b2 {
	background: url('img/TreesB.JPG');
}



/***********************
DROUGHT DIV
***********************/

.drought {
	position: relative;
	left: 215px;
	float: right;
	margin: 0 0;
	width: 300px;
	height: 250px;
	cursor: pointer;
}
.drought div {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px rgba(0,0,0,.3);
	font: bold 3em sans-serif;
	line-height: 350px;
}

.side-a3 {
	background: url('img/DriedA.jpg');
}
.side-b3 {
	background: url('img/DriedB.jpg');
}



/***********************
AIR DIV
***********************/

.air {
	position: relative;
	left: 120px;
	float: right;
	margin: 0 0;
	width: 300px;
	height: 250px;
	cursor: pointer;
}
.air div {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px rgba(0,0,0,.3);
	font: bold 3em sans-serif;
	line-height: 350px;
}

.side-a4 {
	background: url('img/AirA.jpg');
}
.side-b4 {
	background: url('img/AirB.jpg');
}



/***********************
OIL DIV
***********************/

.oil {
	position: relative;
	bottom: 250px;
	left: 20px;
	float: right;
	margin: 0 0;
	width: 300px;
	height: 250px;
	cursor: pointer;
}
.oil div {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px rgba(0,0,0,.3);
	font: bold 3em sans-serif;
	line-height: 350px;
}

.side-a5 {
	background: url('img/OilA.jpg');
}
.side-b5 {
	background: url('img/OilB.jpg');
}



/***********************
WARMING DIV
***********************/

.warming {
	position: relative;
	bottom: 250px;
	left: 85px;
	float: left;
	margin: 0 0;
	width: 300px;
	height: 250px;
	cursor: pointer;
}
.warming div {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px rgba(0,0,0,.3);
	font: bold 3em sans-serif;
	line-height: 350px;
}

.side-a6 {
	background: url('img/WarmingA.jpg');
}
.side-b6 {
	background: url('img/WarmingB.jpg');
}



