/********************************
GENERAL PERSPECTIVE SET TO 500PX
TO ENHANCE FOCUS
********************************/

body {
	-webkit-perspective: 500px;
}



/********************************
TRANSFORM STYLE IS ALSO GIVEN TO 
SIDES A AND B CHILD ELEMENTS
********************************/
.wrap {
	transition: -webkit-transform 2s ease-in;
	-webkit-transform-style: preserve-3d;
}

/********************************
MAKES BACKFACE OF IMAGE INVISIBLE
*********************************/

.wrap div {
	position: absolute;
	-webkit-backface-visibility: hidden;
}

.side-a {
	z-index: 100;
}

.side-b {
	-webkit-transform: rotateY(-180deg);
}
/*********************************
WILL MAKE A HALF SPIN
*********************************/
.wrap:hover {
	-webkit-transform: rotateY(-0.5turn);
}